<section id="showcase">
    <div class="container">
        <h1>Affordable professional web design</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis vitae magna nec elementum. Sed id eleifend nibh. Nunc aliquam, tortor non pellentesque mollis, arcu lacus auctor ex, eu laoreet dui quam in purus. Suspendisse mollis nibh purus, id laoreet dui accumsan in. In sagittis condimentum velit, vel pretium mauris bibendum vitae. Donec finibus lacinia fermentum. Fusce malesuada tincidunt consectetur. Fusce turpis ex, condimentum sit amet eros sed, pulvinar viverra ipsum. In porta ligula nec porttitor varius. Cras vel tempus velit. Cras maximus libero vitae vulputate efficitur.
        </p>
    </div>
</section>